{% extends 'base.html' %}

{% block title %}
Изменить
{% endblock %}

{% block body%}
<div class="container">
    <form class="row change" method="post">
        <textarea name="question" type="text" id="question" class="inp" placeholder="Введите текст">{{ text[0] }}</textarea>
        <textarea name="answer" type="text" id="answer" class="inp" placeholder="Введите текст">{{ text[1] }}</textarea>
        <textarea name="photo" type="text" id="photo" class="inp" placeholder="Введите URL-адрес картинки">{{ text[2] }}</textarea>
        <input type="submit" value="Изменить">
    </form>


    <a href="/tree">Назад</a>
</div>

{% endblock %}