{% extends 'base.html' %}

{% block title %}
Изменить
{% endblock %}

{% block body%}
<div class="container">
    <form class="row change" method="post">
        <textarea name="text" type="text" id="question" class="inp" placeholder="Введите текст">{{ data[0] }}</textarea>
        <textarea name="properties" type="text" id="properties" class="inp" placeholder="Введите текст">{{ data[1] }}</textarea>
        <select name="button-type">
            {% for property in properties %}
            <option value={{property}}>{{property}}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Изменить">
    </form>


    <a href="/tree">Назад</a>
</div>

{% endblock %}